mixin question(query)
  h5.card-title Which cards have
    |
    |
    div.w-100.d-md-none
    select#select-picker.my-2.my-md-0(name="item")
      each i in ['bgm', 'wallpaper', 'clothing', 'voice', 'chat', 'home_picture'].sort()
        option(value=i selected=(query.item === i))= i.replace('_', ' ')
    div.w-100.d-md-none
    |
    | ?
    div.w-100.d-md-none
    button.btn.btn-outline-primary.mt-2.mt-md-0.ml-md-2(type="submit" style="font-weight:500;line-height:20px;") Search
