mixin question(query)
  h5.card-title Which cards have
    |
    |
    div.w-100.d-md-none
    select#select-picker.my-2.my-md-0(name="speed")
      option(selected=(query.speed === "fast")) fast
      option(selected=(query.speed === "slow")) slow
    div.w-100.d-md-none
    |
    | charging skills?
    div.w-100.d-md-none
    button.btn.btn-outline-primary.mt-2.mt-md-0.ml-md-2(type="submit") Ask!
