mixin question(query)
  h5.card-title.form-inline.justify-content-center Find card skills with keyword:
    input.form-control.mt-2.mt-md-0.mx-2(type="text" name="s" placeholder="keyword" value=query.s)
    div.w-100.d-md-none
    button.btn.btn-outline-primary.mt-2.mt-md-0(type="submit") Search
