extends layout

block content
  div.container
    h1 Animations
    div.alert.alert-info(style="z-index:0!important;") The current purpose of this page is to check missing animation. An animation display page will be made if users are interested.
    h5 Skills
    div.row
      each card in cards.filter(x => x.animation.type === "battle")
        div.col-12.col-md-3.text-center
          a(href="/card/" + getURL(card.name))
            img(src="/images/cards/S/" + card.uniqueName + ".jpg" style="width:100px;")
          if card.animation.link1
            a(href="https://vimeo.com/" + card.animation.link1)= card.animation.link1
          else
            p missing animation
    h5 Homescreen
    div.row
      each card in cards.filter(x => x.animation.type === "homescreen")
        div.col-12.col-md-6.mb-3
          div.row
            div.col-12.text-center
              p(style="border-bottom:2px solid var(--secondary);")
                a(href="/card/" + getURL(card.name))= card.name
            div.col-3: img.img-fluid(src="/images/cards/S/" + card.uniqueName + ".jpg")
            div.col-9
              p Original:
                |
                |
                a(href="https://vimeo.com/" + card.animation.link1)= card.animation.link1
              p Unlocked:
                |
                |
                a(href="https://vimeo.com/" + card.animation.link2)= card.animation.link2
