//- not sure if this is the best way. but, it'll do for now
-
  var list = {
    ShareKarasu: {
      title: "Shared Karasu-OS",
      description: "Shared karasu-os.com on social media. Check our <a href='/'>homepage</a> for details."
    }
  }
