extends layout

block content
  h1= title
  p Add multiple cards

  if message 
    p #{message}

  form(method='POST' action='' enctype='multipart/form-data')
    div.form-group
      label(for='cardsData') Upload json with cards data:
      input#cardsData.form-control(type='file' name='cardsData' accept='.json')
      //label(for='cardsPics') Upload card pictures:
      //input#password.form-control(type='text', placeholder='Type your password' name='password', autocomplete="off")
    button.btn.btn-primary(type='submit') Add