extends layout

block content
  div(id="successAlert" class="alert alert-success" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Collection modified successfully
  div(id="failAlert" class="alert alert-danger" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Something went wrong, please reload the page

  div(class="container")
    //- Page Heading
    div(class="row text-left mb-3")
      div(class="col-12")
        h1(class="text-primary pb-2" style="border-bottom: 2px solid; border-color: #8d6fe2;")= title

    //- Card Navigation
    div(class="card sticky-top sticky-offset mb-3 shadow rounded")
      div(class="card-body d-flex justify-content-around flex-wrap p-3" id="actionButtons")
        div(class="d-flex mb-2 mb-md-0" + (user && path !== "collection" ? " mr-md-auto" : ""))
          button(class="btn btn-md text-secondary py-0 mb-0" id="gotoDemon" href="#demonCards")
            span(class="d-none d-sm-block") Go to Demon Cards
            span(class="d-sm-none") Demon
          div(style="border-left: 3px solid; border-color: #db9efb; opacity: 50%; border-radius: 1rem")
          button(class="btn btn-md text-secondary py-0 mb-0" id="gotoMemory" href="#memoryCards")
            span(class="d-none d-sm-block") Go to Memory Cards
            span(class="d-sm-none") Memory
        div(class='d-sm-none' style='flex-basis: 100%; height: 0;')
        div(class="btn-group d-none mr-2" id="selectionButtons")
          button(class="btn btn-secondary text-white mb-md-0" id="deselectAll") Deselect all
          button(class="btn btn-secondary text-white mb-md-0" id="selectAll") Select all
        div(class="btn-group d-none" id="manageButtons")
          button(class="btn btn-primary mb-0" id="cancelManaging") Cancel
          button(class="btn btn-primary mb-0" id="saveManaging") Save
        if user && path === "list"
          button(class="btn btn-primary btn-md mb-0" id="manageCollection") Manage Collection

    div(id="searchBar" class="row text-left mb-3")
      div(class="col-12")
        div(class="card shadow rounded")
          div(class="card-body d-flex flex-wrap justify-content-around p-3")
            form(id="searchForm" class="flex-grow-1 mr-sm-3 mb-2 mb-sm-0")
              div(class="input-group")
                input(type="text" class="form-control text-primary rounded-pill" id="nameFilter" placeholder="Search for card name..." style = "border: 0px;")
                span(class="input-group-append")
                  div(class="input-group-text border-0 bg-transparent" style="z-index: 3; margin: -36px")
                    i(class="lnr lnr-magnifier text-secondary")
            div(class="mx-auto")
              button(id="expandFilters" class="btn btn-secondary text-white btn-sm rounded-pill mr-2 mb-0" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters" style="width: 100px") Filters
              button(id="resetFilters" class="btn btn-primary btn-sm rounded-pill ml-2 mb-0") Reset filters

    div(id="filters" class="row text-left collapse")
      div.col-12.col-md-6.pr-md-1.mb-2
        div(id="rarityFilter" class="card mb-2 shadow rounded")
          div(class="card-header pb-0") Rarity
          div(class="card-body")
            form(id="rarityForm")
              div(class="container")
                div(class="row")
                  div(class="custom-control custom-radio mr-3 col-1")
                    input(type="radio" class="custom-control-input" id="checkRarityAll" name="All")
                    label(class="custom-control-label" for="checkRarityAll") All
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityN" name="N")
                    label(class="custom-control-label" for="checkRarityN") N
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityR" name="R")
                    label(class="custom-control-label" for="checkRarityR") R
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRaritySR" name="SR")
                    label(class="custom-control-label" for="checkRaritySR") SR
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRaritySSR" name="SSR")
                    label(class="custom-control-label" for="checkRaritySSR") SSR
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityUR" name="UR")
                    label(class="custom-control-label" for="checkRarityUR") UR
                  div(class="custom-control custom-checkbox col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityUR+" name="URp")
                    label(class="custom-control-label" for="checkRarityUR+") UR+
        div(id="attributeFilter" class="card shadow rounded")
          div(class="card-header pb-0") Attribute
          div(class="card-body")
            form(id="attributeForm")
              div(class="container")
                div(class="row")
                  div(class="custom-control custom-radio mr-5 ml-1 col-1")
                    input(type="radio" class="custom-control-input" id="checkAttributeAll" name="All")
                    label(class="custom-control-label" for="checkAttributeAll") All
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributePride" name="Pride")
                    label(class="custom-control-label" for="checkAttributePride") Pride
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeGreed" name="Greed")
                    label(class="custom-control-label" for="checkAttributeGreed") Greed
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeEnvy" name="Envy")
                    label(class="custom-control-label" for="checkAttributeEnvy") Envy
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeWrath" name="Wrath")
                    label(class="custom-control-label" for="checkAttributeWrath") Wrath
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeLust" name="Lust")
                    label(class="custom-control-label" for="checkAttributeLust") Lust
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeGluttony" name="Gluttony")
                    label(class="custom-control-label" for="checkAttributeGluttony") Gluttony
                  div(class="custom-control custom-checkbox ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeSloth" name="Sloth")
                    label(class="custom-control-label" for="checkAttributeSloth") Sloth
      div.col-12.col-md-6.pl-md-1.mb-2
        div(id="characterFilter" class="card shadow rounded h-100")
          div(class="card-header") Character
          div(class="card-body")
            form(id="characterForm")
              div(class="container pl-0")
                div(class="row")
                  div(class="custom-control custom-radio mr-5 ml-3 col-2")
                    input(type="radio" class="custom-control-input" id="checkCharacterAll" name="All")
                    label(class="custom-control-label" for="checkCharacterAll") All
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLucifer" name="Lucifer")
                    label(class="custom-control-label" for="checkCharacterLucifer") Lucifer
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterMammon" name="Mammon")
                    label(class="custom-control-label" for="checkCharacterMammon") Mammon
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLeviathan" name="Leviathan")
                    label(class="custom-control-label" for="checkCharacterLeviathan") Leviathan
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterSatan" name="Satan")
                    label(class="custom-control-label" for="checkCharacterSatan") Satan
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterAsmodeus" name="Asmodeus")
                    label(class="custom-control-label" for="checkCharacterAsmodeus") Asmodeus
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterBeelzebub" name="Beelzebub")
                    label(class="custom-control-label" for="checkCharacterBeelzebub") Beelzebub
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterBelphegor" name="Belphegor")
                    label(class="custom-control-label" for="checkCharacterBelphegor") Belphegor
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterDiavolo" name="Diavolo")
                    label(class="custom-control-label" for="checkCharacterDiavolo") Diavolo
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterBarbatos" name="Barbatos")
                    label(class="custom-control-label" for="checkCharacterBarbatos") Barbatos
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterSimeon" name="Simeon")
                    label(class="custom-control-label" for="checkCharacterSimeon") Simeon
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLuke" name="Luke")
                    label(class="custom-control-label" for="checkCharacterLuke") Luke
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterSolomon" name="Solomon")
                    label(class="custom-control-label" for="checkCharacterSolomon") Solomon
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLittleD" name="LittleD")
                    label(class="custom-control-label" for="checkCharacterLittleD" style="min-width: 75px;") Little D

    div(class="row text-left mt-4" id="demonCards")
      div(class="col-12")
        h3(class="text-dark collapser" data-toggle="collapse" href="#demonSection" role="button" aria-expanded="true" aria-controls="demonSection") Demon cards
    div(class="container collapse show row d-flex justify-content-between mx-auto" id="demonSection" style="padding:0 8px;")
      if cardsList.filter(card => card.type == "Demon").length != 0
        each card in cardsList
          if card.type == "Demon"
            a(class="text-center mb-2 h-100 cardPreview "+card.rarity.replace("UR+", "URp")+" "+card.attribute+" "+card.characters.map(x => x.replace(" ", "")).join(" ") href= (path=="collection"?"../":"") + "card/"+card.uniqueName)
              img(class="img-fluid img-max" loading="lazy" height='110px' width='110px' src="/images/cards/S/" + card.uniqueName + ".jpg")
              span(class='figure-caption img-max') #{card.name}

    div(class="row text-left" id="memoryCards")
      div(class="col-12")
        h3(class="text-dark collapser" data-toggle="collapse" href="#memorySection" role="button" aria-expanded="true" aria-controls="memorySection") Memory cards
    div(class="container collapse show row d-flex justify-content-between mx-auto" id="memorySection" style="padding:0 8px;")
      if cardsList.filter(card => card.type == "Memory").length != 0
        each card in cardsList
          if card.type == "Memory"
            a(class="text-center mb-2 h-100 cardPreview "+card.rarity.replace("UR+", "URp")+" "+card.attribute+" "+card.characters.map(x => x.replace(" ", "")).join(" ") href=(path=="collection"?"../":"") + "card/"+card.uniqueName)
              img(class="img-fluid img-max" loading="lazy" height='110px' width='110px' src="/images/cards/S/" + card.uniqueName + ".jpg")
              span(class='figure-caption img-max') #{card.name}

  script(src="/javascripts/cardsListFunctions.js")
  link(rel="stylesheet", href="/stylesheets/cardsListStyle.css")
