extends layout

block content
  h1= title
  
  ul
    each entry in cardsList
      li 
        a(href='card/'+entry.card.uniqueName) #{entry.card.name}
        img(src='/images/cards/S/' + entry.card.uniqueName + '.png')

    else
      li There are no cards.