extends layout

block content
  div.container
    h1 Closing Notice
    div.card.card-body
      p.font-italic November 6, 2024
      - var username = user?.name || "there";
      p Hi #{username},
      p Thank you for visiting karasu-os.com today! We celebrated the 4th anniversary of our website back in September. It's hard to believe it's already been over 4 years since the start of the website. And in just 35 days will be the 5th anniversary of Obey Me! Unfortunately, we will not be celebrating this milestone this year as I have decided to close the website.
      p This was a really hard decision, especially because of all the memories we've created here. We've focused on the original game, but as you may have noticed, the official developers have shifted their attention away from it. Many of our users and editors have moved on, and active updates have slowed. So, after careful consideration, I feel it's time to say goodbye.
      p Thank you for being part of our community. Your support and feedback have been invaluable in building this site. I'm grateful for the time and effort you've shared with us.
      p If you would like to save your data, please fill out this form:
        |
        |
        a(href='https://forms.gle/S66aeDNPvcihbMfXA' target='_blank') https://forms.gle/S66aeDNPvcihbMfXA
      p - Love,
      p Karasu OS
      p ⋆ ｡ ° ✩ ° ｡ ⋆
      p
        strong Website Closing Date:
        |
        | February 8, 2025.
      p From now on, no new cards or events will be added. Sign-ups and logins will remain open until the closure. Data requests will be accepted until February 8, 2025, after which all data will be permanently deleted.
