extends layout

block content
  div.container
    div.row.my-5.align-items-center.text-center
      div.col-12.col-lg-5.text-lg-right
        img(src="/images/LeviChibi.png")
      div.col.text-lg-left
        h1(style="border:0;")= error
        p !{message}

        a.mt-2.mr-2(type="button" href='/' class="btn btn-primary") Back to home
        a.mt-2.mr-2(type="button" href='/login' class="btn btn-primary") Login
        a.mt-2(type="button" href='/signup' class="btn btn-primary") Sign up
