extends layout

block content
  div.container
    div.row.my-5.align-items-center.text-center
      div.col.col-lg-5.text-lg-right
        img(src="/images/LeviChibi.png")
      div.col.text-lg-left
        h1(style="border:0;")= message
        p Oops, looks like you found our 404 page. Double check the link, maybe?
        a.mt-2(type="button" href='/' class="btn btn-primary") Back to home
