extends layout

block scripts
	//- link(rel="stylesheet" href="/stylesheets/event.css")
	//- script(src="/javascripts/eventDetailFunctions.js")
	//- script.
	//- 	var event = !{JSON.stringify(event)};
	style.
		.mcard-container {
		  max-width: 180px;
			margin: .5rem 1.25rem;
		}
		.mcard-container img {
		  height: 243px;
		}
		.dcard-container {
		  max-width: 380px;
			margin: .5rem 1.25rem;
			text-align: center;
		}
		.dcard-container img {
		  height: 243px;
		}
		p {
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			color: var(--primary);
			margin-bottom: 1rem;
			letter-spacing: .08em;
		}

block content
	.container
		h1= title
		if t("lang") === "ja"
			div.alert.alert-info(role="alert") 
				strong Translators needed!
				|
				| Our website is missing many translations. If you would like to become our translator, please email
				|
				a(href="mailto:karasu.os.mail@gmail.com") karasu.os.mail@gmail.com
				|
				| or
				|
				a(href="https://discord.gg/Y3KMW7U") join our discord server
				| .
		div.card.card-body
			p Demon cards
			div.row.justify-content-center.mb-4
				each card in cards.filter(card => card.type === "Demon")
					div.dcard-container
						a(href="../" + "card/" + getURL(card.name))
							img.img-fluid.mb-2.mb-md-auto(src="/images/cards/L/" + card.uniqueName + ".jpg")
							if card.type === "Demon"
								img.img-fluid.ml-md-2(src="/images/cards/L/" + card.uniqueName + "_b.jpg")
							//- figurecaption= card.name

			p Memory cards
			div.row.justify-content-center
				each card in cards.filter(card => card.type === "Memory")
					div.mcard-container
						a(href="../" + "card/" + getURL(card.name))
							img.img-fluid(src="/images/cards/L/" + card.uniqueName + ".jpg")
							//- figurecaption= card.name
	
