extends layout

block scripts
  //- link(rel="stylesheet" href="/stylesheets/eventList.css")
  style.
    .tab-pane .card img {
      min-height: 183px;
    }

mixin section(events) 
  div.row
    each event in events
      .col-12.col-sm-6.col-lg-4.mb-3
        div.card.shadow
          img.card-img-top(src="/images/events/" + event.name.en + ".jpg" onerror="this.onerror=null;this.src='/images/event_placeholder.jpg'")
          div.card-body
            a.stretched-link(href="event/" + encodeURIComponent(event.name.en.replace(/ /g, '_')))
              p.card-title= event.name[t("lang")]
            small.text-muted= event.start + " - " + event.end

block content
  div.container
    h1= title
    div.card.card-body.p-5.text-center.mb-3
      h5 Karasu-OS.com needs help! 
      p.my-4 Please help us complete events data by adding to our database. 
      a.h5(href="https://drive.google.com/drive/folders/1lpIwYjeZLMaHr-7wTMuAdOYMn8lFQZct?usp=sharing" target="_blank") Click here access database.
    
    ul#category.nav.nav-pills.nav-fill.mb-2.shadow-sm(style="background:white;border-radius:4px;" role="tablist")
      li.nav-item
        a#popquiz-tab.nav-link.active(data-toggle="tab" href="#popquiz" role="tab" aria-controls="popquiz" aria-selected="true") Pop Quiz
      li.nav-item
        a#nightmare-tab.nav-link(data-toggle="tab" href="#nightmare" role="tab" aria-controls="nightmare" aria-selected="false") Nightmare
      li.nav-item
        a#other-tab.nav-link(data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false") Other
    
    div.tab-content
      div#popquiz.tab-pane.show.active(role="tabpanel" aria-labelledby="popquiz-tab")
        +section(events.filter(e => e.type === "PopQuiz"))
      div#nightmare.tab-pane(role="tabpanel" aria-labelledby="nightmare-tab")
        +section(events.filter(e => e.type === "Nightmare"))
      div#other.tab-pane(role="tabpanel" aria-labelledby="other-tab")
        +section(events.filter(e => e.type !== "PopQuiz" && e.type !== "Nightmare"))
