extends layout

block scripts
  script(src="/javascripts/lazyload.js")
  script.
    $(function() {
      let openedTab = localStorage.getItem("eventTab") ? localStorage.getItem("eventTab") : "popquiz-tab";
    	$('#' + openedTab).tab("show");
    	$("ul#category a").on("click", function() {
    		localStorage.setItem("eventTab", $(this).attr("id"));
    	});
    });

mixin section(events)
  div.row
    each event in events
      .col-12.col-sm-6.col-lg-4.mb-3
        div.card.h-100.shadow
          img.card-img-top.lazy(src="/images/event_placeholder.jpg" data-src="/images/events/" + encodeURIComponent(event.name.en) + ".jpg")
          div.card-body
            a.stretched-link(href="event/" + encodeURIComponent(event.name.en.replace(/ /g, '_')))
              - lang = t("lang") === "ja" ? "ja" : "en";
              p.card-title= event.name[lang]
                if event.isLonelyDevil
                  img.ml-2(src="/images/LD_icon.png" style="width:24px;height:24px;float:inline-end;")
            small.text-muted= event.start + " - " + event.end

block content
  div.container
    h1= t("common.events")
    ul#category.nav.nav-pills.nav-fill.mb-3.shadow(style="background:var(--body-bg);border-radius:4px;" role="tablist")
      li.nav-item
        a#popquiz-tab.nav-link(data-toggle="tab" href="#popquiz" role="tab" aria-controls="popquiz" aria-selected="false") Pop Quiz
      li.nav-item
        a#nightmare-tab.nav-link(data-toggle="tab" href="#nightmare" role="tab" aria-controls="nightmare" aria-selected="false") Nightmare
      li.nav-item
        a#other-tab.nav-link(data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false") Other

    div.tab-content
      div#popquiz.tab-pane(role="tabpanel" aria-labelledby="popquiz-tab")
        +section(events.filter(e => e.type === "PopQuiz"))
      div#nightmare.tab-pane(role="tabpanel" aria-labelledby="nightmare-tab")
        +section(events.filter(e => e.type === "Nightmare"))
      div#other.tab-pane(role="tabpanel" aria-labelledby="other-tab")
        +section(events.filter(e => e.type !== "PopQuiz" && e.type !== "Nightmare"))
