extends layout

block content
	div(class="container")
		h1= t("common.events")
		div.card.card-body.shadow
			table.table
				each event in events
					tr.text-primary
						a(href="event/"+encodeURIComponent(event.name.replace(/ /g, '_'))) #{event.name}