extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/eventGallery.css")

block content
  div.container
    h1 Pop Quiz
    ul#gallery
        //-for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
      each event in events
        li
          div.card.shadow
            img.card-img-top(src="/images/events/" + event.img_name + ".jpg")
            div.card-body
              p.card-title= event.name
              small.text-muted= event.start + " - " + event.end
