extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/eventEdit.css")
	script(src="/javascripts/eventEdit.js")

block content
	div#alert(role="alert")
	div.container
		h1= title
		div.card.shadow
			div.card-body
				h5 Event Info
				form
					div.form-row
						div.col-3
							div.form-group
								label(for="name") Name
								input#name.form-control(type="text" name="name" required)
							div.form-group
								label(for="ja_name") Japanese name
								input#ja_name.form-control(type="text" name="ja_name" required)
							div.form-group
								label(for="img_name") Image name
								input#img_name.form-control(type="text" name="img_name" required)
						div.col
							div.form-group
								label(for="start") Start date
								input#start.form-control(type="date" name="start" required)
							div.form-group
								label(for="stages") Number of stages
								input#stages.form-control(type="number" name="stages" required)
							div.form-group
								label(for="pageCost") Page cost
								input#pageCost.form-control(type="number" name="pageCost" required)
						div.col
							div.form-group
								label(for="end") End date
								input#end.form-control(type="date" name="end" required)

							p.mb-0 Type
							div.form-check
								input#popquiz.form-check-input(type="radio" name="type" value="Pop Quiz")
								label.form-check-label(for="popquiz") Pop Quiz
							div.form-check
								input#lonelydevil.form-check-input(type="radio" name="type" value="Lonely Devil")
								label.form-check-label(for="lonelydevil") Lonely Devil
							div.form-check
								input#birthday.form-check-input(type="radio" name="type" value="Birthday")
								label.form-check-label(for="birthday") Birthday
							div.form-check
								input#nightmare.form-check-input(type="radio" name="type" value="Nightmare")
								label(for="nightmare") Nightmare

						div.col-4
							p.mb-2 Media
							div.custom-file
								input#img.custom-file-input(type="file" accept=".jpg, .png" required)
								label.custom-file-label(for="img") Choose File (must be .jpg)
							img#preview.w-100.mt-2(src="")

				h5 Rewards
					small.ml-2 Please remove empty rows before updating event
				form#rewards
					div.form-inline
						input.form-control(type="text" placeholder="reward name" name="tag" required)
						input.form-control(type="number" placeholder="reward cost" name="points" required)
						input.form-control(type="text" placeholder="card name (if applicable)" name="card")
						button Remove
				hr
				button#addReward(data-target="#rewards" data-clone="#rewardTemplate") Add reward

				br
				br
				h5 AP Rewards
					small.ml-2 Please remove empty rows before updating event
				form#AP
					div.form-inline
						input.form-control(type="number" placeholder="AP amount" name="amount" required)
						input.form-control(type="number" placeholder="AP cost" name="points" required)
						input.form-control(type="number" placeholder="available page" name="page")
						button Remove
				hr
				button#addAP(data-target="#AP" data-clone="#APTemplate") Add AP reward
				br
				br
				button#submit.btn.btn-primary Submit Change

			template#rewardTemplate
				div.form-inline
					input.form-control(type="text" placeholder="reward name" name="tag" required)
					input.form-control(type="number" placeholder="reward cost" name="points" required)
					input.form-control(type="text" placeholder="card name (if applicable)" name="card")
					button Remove

			template#APTemplate
				div.form-inline
					input.form-control(type="number" placeholder="AP amount" name="amount" required)
					input.form-control(type="number" placeholder="AP cost" name="points" required)
					input.form-control(type="number" placeholder="available page" name="page")
					button Remove
