extends layout

block content
  div.row
    section.landing-page
      div.card.hovercard
        div.cardheader
        div.avatar
          img(alt="pfp" src="https://media.discordapp.net/attachments/673339200782729276/703354748945825833/unknown.png")
      div.container
        div.row(style="margin-top:128px;")
          div.col-12.mx-auto
            div.card.bg-transparent
              div.card-body.mx-auto
                a(href="/cards" type="button" class="btn btn-primary m-1") Cards
                if !user
                  a(href="/signup" type="button" class="btn btn-primary m-1") Sign Up
                  a(href="/login" type="button" class="btn btn-primary m-1") Login
          div.col-12.col-md-6.mb-2
            div.card.shadow.rounded
                div.card-body
                  h5.card-title What's this?
                  p.card-text
                    | OM!Collection is a website for you to record and share your cards online. It's built by fans on a completely voluntary basis. We are not associated in any way with our official developers (great job they did making the game &#x1F44F;).
                    | <br /><br />
                    | The website is still in a (not even) beta mode (as I'm typing). And, no clue how many people will use it. But, if you ever need to talk to us, let it be a bug report or suggestion, we'll create a discord server (probably). See you there.
          div.col-12.col-md-6.mb-2
            div.card.shadow.rounded.h-100
              div.card-body
                h5.card-title How does it work?
                p.card-text
                | Click on Sign Up to make an account. Then, head over to All Cards to "manage" your collection. Feel free to contact us for any questions.
                <br /><br />
                h5.card-title Talk to?
                img(class="pfp" alt="pfp" src="https://media.discordapp.net/attachments/673339200782729276/703354748945825833/unknown.png")
                span.mr-5 Laele
                img(class="pfp" alt="pfp" src="https://media.discordapp.net/attachments/673339200782729276/703354748945825833/unknown.png")
                span char
    link(rel="stylesheet" href="/stylesheets/homepage.css")

block footer
  footer(class="site-footer bg-primary navbar-dark mt-auto")
    div(class="container")
      div(class="row justify-content-between")
        div(class="col-12 col-md-7")
          h6.text-light Disclaimers
          p(class="text-justify text-light") Obey Me! Collection is a web resource created by fans. Creators of the website are not in any way affiliated with NTT Solmare Corporation. All characters, illustrations, and game content are copyrighted work exclusively belonging to NTT Solmare Corporation.
        div(class="col-6 col-md-4")
          h6(class="text-light") Links
          ul(class="footer-links text-light")
            li Download for&nbsp;
              a(class="text-light" href="https://apps.apple.com/app/obey-me-shall-we-date/id1477167654") <u>iOS</u>&nbsp;
              | and&nbsp;
              a(class="text-light" href="https://play.google.com/store/apps/details?id=com.nttsolmare.game.android.obeyme") <u>Android</u>&nbsp;
            li
              a.text-light(href="https://shallwedate.jp/obeyme/en/") Official Website
            li
              a(class="text-light" href="https://www.facebook.com/obeyme.solmare/") Obey Me! Official Facebook
            li
              a(class="text-light" href="https://obey-me.fandom.com/wiki/Obey_Me!_Wiki") Obey Me! Wiki
            li
              a(class="text-light" href="https://www.reddit.com/r/obeyme/") Obey Me! Subreddit
