extends layout

block content
  div(class="modal fade" id="contactLaele" tabindex="-1" role="dialog" aria-labelledby="contactLaeleLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="contactLaeleLabel") Contact Laele
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span( aria-hidden="true") &times;
        div(class="modal-body")
          p Discord: carnwyr#6733
          span Email:&nbsp;
            a(href="mailto:carnwyr@gmail.com") carnwyr@gmail.com
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary text-light" data-dismiss="modal") Close
  div(class="modal fade" id="contactChar" tabindex="-1" role="dialog" aria-labelledby="contactCharLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="contactCharLabel") Contact char
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span( aria-hidden="true") &times;
        div(class="modal-body")
          p Discord: char#9463
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary text-light" data-dismiss="modal") Close

  div.row
    section.landing-page
      div.card.hovercard
        div.cardheader
        div.avatar
          img(alt="pfp" src="/images/karasu.png")
      div.container
        div.row(style="margin-top:128px;")
          div.col-12.mx-auto
            div.card.bg-transparent
              div.card-body.mx-auto
                a(href="/cards" type="button" class="btn btn-primary m-1") Cards
                if !user
                  a(href="/signup" type="button" class="btn btn-primary m-1") Sign Up
                  a(href="/login" type="button" class="btn btn-primary m-1") Login
          div.col-12.col-md-6.mb-4
            div.card.shadow.rounded
                div.card-body
                  h5.card-title What's this?
                  p.card-text
                    | Karasu OS is a website for you to record and share your cards online. It's built by fans on a completely voluntary basis. We are not associated in any way with our official developers (great job they did making the game &#x1F44F;).
                    h5.card-title Contacts
                    p Need help? Link to Discord server:&nbsp;
                      a(href="https://discord.gg/Y3KMW7U")  discord.gg/Y3KMW7U
                      | <br />Support the website:&nbsp;
                      a(href="https://www.buymeacoffee.com/karasuos") https://www.buymeacoffee.com/karasuos
                    div.d-flex
                      div(data-toggle='modal' data-target="#contactLaele" style='cursor: pointer')
                        img(class="pfp" alt="pfp" src="/images/karasu.png")
                        span.mr-5 Laele
                      div(data-toggle='modal' data-target="#contactChar" style='cursor: pointer')
                        img(class="pfp" alt="pfp" src="/images/karasu.png")
                        span char
          div.col-12.col-md-6.mb-4
            div#About.card.shadow.rounded.h-100
              div.card-body
                h5.card-title How does it work?
                div.card-text
                  p You can browse the card gallery without creating an account.
                  p To track your cards online you'll need to create an account. Log in to your account and head to Gallery. Click "Manage Collection" and select your cards.
                  p Pressing Select All with filters applied will select only the cards that are displayed.
                  p After saving you can check your cards in My collection. You can copy the link to that page and share it with other players, they'll be able to see your cards as well.

    link(rel="stylesheet" href="/stylesheets/homepage.css")

block footer
  footer(class="site-footer bg-primary navbar-dark mt-auto")
    div(class="container")
      div(class="row justify-content-between")
        div(class="col-12 col-md-7")
          h6.text-light Disclaimers
          p(class="text-justify text-light") Karasu OS is a web resource created by fans. Creators of the website are not in any way affiliated with NTT Solmare Corporation. All characters, illustrations, and game content are copyrighted work exclusively belonging to NTT Solmare Corporation.
        div(class="col-6 col-md-4")
          h6(class="text-light") Links
          ul(class="footer-links text-light")
            li Download for&nbsp;
              a(class="text-light" href="https://apps.apple.com/app/obey-me-shall-we-date/id1477167654") <u>iOS</u>&nbsp;
              | and&nbsp;
              a(class="text-light" href="https://play.google.com/store/apps/details?id=com.nttsolmare.game.android.obeyme") <u>Android</u>&nbsp;
            li
              a.text-light(href="https://shallwedate.jp/obeyme/en/") Official Website
            li
              a(class="text-light" href="https://www.facebook.com/obeyme.solmare/") Obey Me! Official Facebook
            li
              a(class="text-light" href="https://obey-me.fandom.com/wiki/Obey_Me!_Wiki") Obey Me! Wiki
            li
              a(class="text-light" href="https://www.reddit.com/r/obeyme/") Obey Me! Subreddit
