doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="Obey Me! Collection is a collection of cards and tools for the game Obey Me! by NTT Solmare Corporation.")
    meta(name="keywords" content="Obey Me!, おべいみー, cards, tools")
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/theme_1597782929390.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kanit')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='/javascripts/commonFunctions.js')
    <script data-ad-client="ca-pub-1710157662563352" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  body(class="d-flex flex-column min-vh-100")
    nav(class="navbar navbar-expand-md bg-primary navbar-dark fixed-top shadow-sm bg-white")
      a(class="navbar-brand", href='/', style="font-family: 'Kanit'; font-size: 1.4rem") Karasu OS&nbsp;
        span(style="font-family: 'Nunito'; font-size: 18px") Beta
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarTogglerMenu")
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link", href='/cards') All cards
          if user
            li(class="nav-item")
              a(class="nav-link", href='/' + user.name + '/collection') My collection
          if user && user.isAdmin
            li(class="nav-item")
              a(class="nav-link", href='/card/new') Add new card
        ul(class="navbar-nav ml-auto")
          li(class="nav-item d-none d-md-block")
            div(class="nav-link" style="position:relative;bottom:1px")
              <svg width=".95em" height=".95em" viewBox="0 0 16 16" class="bi bi-person text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg>
          div(class='d-md-none mt-2 mb-0' style='border-bottom: 1px solid; border-color: #fff; opacity: 30%')
          if !user
            li(class="nav-item")
              a(class="nav-link", href='/signup')
                span(class="d-md-none") Sign Up
                span(class="d-none d-md-block text-white") Sign Up
            li(class="nav-item")
              a(class="nav-link", href='/login')
                span(class="d-md-none") Login
                span(class="d-none d-md-block text-white") Login
          if user
            li(class="nav-item dropdown d-none d-md-block ")
              a(class="dropdown-toggle nav-link text-white" role='button' id='accountDropdownButton' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false") Account
              div(class="dropdown-menu dropdown-menu-right shadow border-0" aria-labelledby="accountDropdownButton")
                a(class="nav-link dropdown-item", href='/user/'+user.name)
                  span(class="text-dark") Settings
                a(class="nav-link dropdown-item", href='/logout')
                  span(class="text-dark") Logout
            li(class="nav-item d-md-none")
              a(class="nav-link", href='/user/'+user.name)
                span(class="d-md-none") Account settings
                span(class="d-none d-md-block text-white") Account settings
            li(class="nav-item d-md-none")
              a(class="nav-link", href='/logout')
                span(class="d-md-none") Logout
                span(class="d-none d-md-block text-white") Logout

    div(class="toast d-none" id="supportToast" role="alert" data-delay="700" data-autohide="false")
      div(class="toast-header")
        strong(class="mr-auto text-primary") Support Karasu-os
        button(type="button" id="closeToast" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="toast-body")
        p Hi, there! Karasu-os needs <u>your</u> help to provide the best content for <u>you</u>!
        a(type="button" href="https://www.buymeacoffee.com/karasuos" class="btn btn-primary btn-sm btn-block" id="supportNow") Help Now

    div(class='container-fluid')
      block content

    block footer
      footer(class="site-footer bg-primary navbar-dark mt-auto")
        div.container
          div.row.text-center.justify-content-center
            div.col-10.mt-1
              a(class="text-light" href="https://shallwedate.jp/obeyme/en/") Official Website
              |
              span.text-secondary &nbsp;|&nbsp;
              |
              span.text-light Download for&nbsp;
              |
              a(class="text-light" href="https://apps.apple.com/app/obey-me-shall-we-date/id1477167654") <u>iOS</u>&nbsp;
              |
              span.text-light and&nbsp;
              |
              a(class="text-light" href="https://play.google.com/store/apps/details?id=com.nttsolmare.game.android.obeyme") <u>Android</u>&nbsp;
              |
              span.text-secondary |&nbsp;
              |
              a(class="text-light" href="https://www.facebook.com/obeyme.solmare/") Obey Me! Official Facebook
            div.col-10.mt-1.mb-3
              span
              |
              a(class="text-light" href="/") Contact Us
              |
              span.text-secondary &nbsp;|&nbsp;
              |
              a(class="text-light" href="https://obey-me.fandom.com/wiki/Obey_Me!_Wiki") Obey Me! Wiki
              |
              span.text-secondary &nbsp;|&nbsp;
              |
              a(class="text-light" href="https://www.reddit.com/r/obeyme/") Obey Me! Subreddit
