doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/740227474343854172/749633872194699264/faviiiii.png")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/theme_1597782929390.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/commonFunctions.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kanit')
  body(class="d-flex flex-column min-vh-100")
    nav(class="navbar navbar-expand-md bg-primary navbar-dark fixed-top shadow-sm bg-white rounded")
      a(class="navbar-brand", href='/', style="font-family: 'Kanit'; font-size: 1.4rem") OM!Collection&nbsp;
        span(style="font-family: 'Nunito'; font-size: 18px") Beta
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarTogglerMenu")
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link", href='/cards') All cards
          if user
            li(class="nav-item")
              a(class="nav-link", href='/' + user.name + '/collection') My collection
          if user && user.isAdmin
            li(class="nav-item")
              a(class="nav-link", href='/card/create') Add new cards
          if !user
            li(class="nav-item")
              a(class="nav-link", href='/signup') Signup
            li(class="nav-item")
              a(class="nav-link", href='/login') Login
          if user
            li(class="nav-item")
              a(class="nav-link", href='/logout') Logout


    div(class='container-fluid')
      block content

    footer(class="site-footer bg-primary navbar-dark mt-auto")
      div(class="container")
        div(class="row justify-content-between")
          div(class="col-sm-12 col-md-7")
            h6(class="text-white") About
            p(class="text-justify text-light") Obey Me! Collection is a web resource to store your cards collection. The characters, card images and other game content are owned by NTT Solmare Corporation. Obey Me! Collection is not affiliated with NTT Solmare Corporation, is completely made by fans and everyone is volunteer.

          div(class="col-xs-6 col-md-4")
            h6(class="text-white") Links
            ul(class="footer-links text-light")
              li Download for
                a(class="text-light" href="https://apps.apple.com/app/obey-me-shall-we-date/id1477167654") iOS
                | and
                a(class="text-light" href="https://play.google.com/store/apps/details?id=com.nttsolmare.game.android.obeyme") Android
              li
                a(class="text-light" href="https://www.facebook.com/obeyme.solmare/") Obey Me! Official Facebook
              li
                a(class="text-light" href="https://obey-me.fandom.com/wiki/Obey_Me!_Wiki") Obey Me! Wiki
              li
                a(class="text-light" href="https://www.reddit.com/r/obeyme/") Obey Me! Subreddit
