doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href="/images/favicon.png")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/theme_1597782929390.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/commonFunctions.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kanit')
  body(class="d-flex flex-column min-vh-100")
    nav(class="navbar navbar-expand-md bg-primary navbar-dark fixed-top shadow-sm bg-white")
      a(class="navbar-brand", href='/', style="font-family: 'Kanit'; font-size: 1.4rem") OM!Collection&nbsp;
        span(style="font-family: 'Nunito'; font-size: 18px") Beta
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarTogglerMenu")
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link", href='/cards') All cards
          if user
            li(class="nav-item")
              a(class="nav-link", href='/' + user.name + '/collection') My collection
          if user && user.isAdmin
            li(class="nav-item")
              a(class="nav-link", href='/card/create') Add new cards
        ul(class="navbar-nav ml-auto")
          li(class="nav-item d-none d-md-block")
            div(class="nav-link")
              span(class="lnr lnr-user text-white" style='font-size: 0.75rem;')
          div(class='d-md-none mt-2 mb-0' style='border-bottom: 1px solid; border-color: #fff; opacity: 30%')
          if !user
            li(class="nav-item")
              a(class="nav-link", href='/signup')
                span.d-md-none Sign Up
                span.d-none.d-md-block.text-white Sign Up
            li(class="nav-item")
              a(class="nav-link", href='/login')
                span.d-md-none Login
                span.d-none.d-md-block.text-white Login
          if user
            li(class="nav-item")
              a(class="nav-link", href='/logout')
                span.d-md-none Logout
                span.d-none.d-md-block.text-white Logout

    div(class='container-fluid')
      block content

    block footer
      footer(class="site-footer bg-primary navbar-dark mt-auto")
        div.container
          div.row.text-center.justify-content-center
            div.col-10.mt-1
              a(class="text-light" href="https://shallwedate.jp/obeyme/en/") Official Website
              |
              span.text-secondary &nbsp;|&nbsp;
              |
              span.text-light Download for&nbsp;
              |
              a(class="text-light" href="https://apps.apple.com/app/obey-me-shall-we-date/id1477167654") <u>iOS</u>&nbsp;
              |
              span.text-light and&nbsp;
              |
              a(class="text-light" href="https://play.google.com/store/apps/details?id=com.nttsolmare.game.android.obeyme") <u>Android</u>&nbsp;
              |
              span.text-secondary |&nbsp;
              |
              a(class="text-light" href="https://www.facebook.com/obeyme.solmare/") Obey Me! Official Facebook
            div.col-10.mt-1.mb-3
              span
              |
              a(class="text-light" href="https://obey-me.fandom.com/wiki/Obey_Me!_Wiki") Obey Me! Wiki
              |
              span.text-secondary &nbsp;|&nbsp;
              |
              a(class="text-light" href="https://www.reddit.com/r/obeyme/") Obey Me! Subreddit
