extends layout

block content
  div.container
    div.card.card-body
      h1 Privacy Policy
      p Karasu-os uses cookies to track your login sessions. To create an account for the service, a username and password is required. You have the choice to link a verified email for password recovery, which is completely optional. Karasu-os does not associate this data to you or your identities, nor will we distribute or sell information to third-party organizations.
      h5 Cookies
      p Karasu-os may use "cookies" to keep track of your preferences and login sessions on the website. You can disable the use of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will result in disabling certain functionalities and features of karasu-os. Therefore it is recommended that you leave the cookies setting on.
      p Third-party vendors, including Google, use cookies to serve ads based on your prior visits to karasu-os. Google's use of advertising cookies enables it and its partners to serve ads based on your visits. You may opt-out of personalized advertising by visiting
        |
        |
        a(href="https://adssettings.google.com/authenticated") Ads Settings
        | . Karasu OS also uses a third party technology called Ezoic for site enhancement.
        |
        |
        a(href="//g.ezoic.net/privacy/karasu-os.com") Read more
        |
        | about Ezoic's privacy policy.
      h5 Links to External Sites
      p Karasu OS contains links to other websites. We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of websites operated by others.
      h5 Privacy Policy Revisions
      p This Privacy Policy was last revised on 07 October 2020. We may change this Privacy Policy at any time and for any reason. If we make a significant change to our policies, we will post a notice after the change is made.
      h5 How to Contact Us
      p If you have any questions regarding the above statements, you can contact us at
        |
        |
        a(href="mailto: karasu-os.mail@gmail.com") karasu-os.mail@gmail.com
        |
        | or find us in our support discord server:
        |
        a(href="https://discord.gg/Y3KMW7U") Y3KMW7U
        | .
