extends layout

block content
  div(class="container")
    h1= title
    div.card.card-body.shadow
      div.mx-auto.my-5.text-center
        h5.card-title (ง •̀_•́)ง Gathering data...
        if user
          p Head over to your favourite cards' page and start filling your favourite collection!
          p.text-muted It's
            |
            |
            script.
              document.write(new Intl.DateTimeFormat('en-US', {month: "long"}).format(new Date())+' '+new Date().getDate());
            | , we still can't tell who's cards are winning. They're all so good. Many of them have the same &#x2B50;.
            |
            br
            | Ask others to add to their favourite collections!
          br
          br
          p In the meanwhile...
          h5 Get this badge!
          img.m-2(src="/images/ShareKarasu.png" alt="Badge for sharing karasu-os.com" style="width:64px;height:64px;")
          p What do you like about karasu-os.com? What are some updates you are looking forward to?
          div.d-flex.justify-content-center
            h5 Step 1:
            p.ml-2 Share your thought about karasu-os.com on your social media.
          div.d-flex.justify-content-center
            h5 Step 2:
            p.ml-2 Send screenshot and link of your post to our discord server
              |
              a(href="https://discord.gg/Y3KMW7U") Y3KMW7U
              |
              | no accounts needed.
        else
          p.card-text Register or login now to see your favourite cards on the same page!
          a.btn.btn-primary.mr-2(href="/signup") Register
          a.btn.btn-primary.ml-2(href="/login") Login
      if user && user.isAdmin
        table.table.table-responsive-sm
          thead
            tr
              th.text-center Rank
              th(colspan=2) Card
              th Favourited by
          tbody
            - var count = 1;
            each card in ranking
              tr
                td.text-center= count++
                td
                  a(href="card/"+card._id)
                    img(style="width:96px;height:96px;" src="/images/cards/S/"+card._id+".jpg")
                td
                  a(href="card/"+card._id)= card.name
                td= card.total
