extends layout

block content

  div.row
    div(class="col-12 col-lg-6 mx-auto")
      div(class="card card-signin flex-row my-5")
        div(class="card-body")
          h2(class="card-title text-center") Sign Up
          form(class="form-signin" method="POST" action="")
            div.form-label-group
              input#username.form-control(type="text" placeholder="Username" name="username" pattern="[A-Za-z0-9._-]+" title="Username can include letters, numbers and ._-" maxlength="50" autocomplete="off" required autofocus)
              label(for="username") Username
              small#usernameError.form-text.text-danger
            div.form-label-group
              input#password.form-control(type="password" placeholder="Password" name="password" pattern=".{8,}" maxlength="50" autocomplete="off" required)
              label(for="password") Password
              small#passwordError.form-text.text-danger
            div.form-label-group
              input#confirmPassword.form-control(type="password" placeholder="Confirm Password" name="confirmPassword" maxlength="50" autocomplete="off" required)
              label(for="confirmPassword") Confirm Password
              small#passwordConfirmationError.form-text.text-danger
            button(class="btn btn-lg btn-primary btn-block text-uppercase" id="signUp" type="submit") Sign Up
            a(class="d-block text-center mt-2 small" href="login") Login

  link(rel="stylesheet" href="/stylesheets/forms.css")
  script(src="javascripts/signUpFunctions.js")
