extends ../layout

block content
  div.container
    h1 My devil's tree progress
    div.card.card-body.text-center
      //- TODO: add total possible reward from user's collection
      div(style="border:2px solid var(--secondary);border-radius:8px;padding:1.5rem;margin-bottom:1.5rem;")
        h5 #1 / #2
        p #1: number of this type of rewards you've unlocked
          br
          | #2: total number of cards with this type of rewards (that's recorded in our database)
        p.mb-0 Tip: Clicking on the image link will take you directly to the page with all cards that contains the reward.
      <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
      script(type="module").
        const { createApp } = Vue;
        createApp({
          data() {
            return {
              currency: [
                "AP",
                "D-Energy",
                "Demon Voucher",
                "Devil Point",
                "Grimm",
                "LD Ticket",
                "Raven",
                "Story Key"
              ],
              gifts: [
                "Backstabbing Sandwich",
                "Bandage",
                "Barbatos's Signature Cake",
                "Barbatos's Tea",
                "Black Coffee of Melancholy",
                "Book",
                "Comfort Candy",
                "Family Pack Sushi",
                "First Aid Kit",
                "Flower",
                "Game",
                "Human World Cheeseburger",
                "Instant Noodles (Hell-Sauce Flavor)",
                "Madam Scream's Macarons",
                "Manga",
                "Medicine",
                "Message Card",
                "Movie Ticket",
                "Paradise Blue",
                "Perfume",
                "Pocket Tissue",
                "Poison",
                "Princess's Poison Apple",
                "RedxRed Apple Pie",
                "Spicy Rainbow Pizza",
                "Whip of Love",
                "Wicked Cupcake"
              ],
              glowsticks: [
                "Glow Stick (Blue)",
                "Glow Stick (Yellow)",
                "Glow Stick (Orange)",
                "Glow Stick (Green)",
                "Glow Stick (Pink)",
                "Glow Stick (Red)",
                "Glow Stick (Purple)",
                "Glow Stick (Rainbow)"
              ],
              stats: !{JSON.stringify(stats)}
            }
          }
        }).mount('#app');

      div#app
        h5 Currency
        div.row.justify-content-center
          div.col.col-md-3.col-lg-2(v-for="item of currency")
            a(:href="'/ask/dt-rewards?item=' + item"): figure.mb-1
              img(:src="'/images/items/' + item + '.png'" style="width:5rem;height:auto;")
              figcaption {{item}}
            p {{stats.user.find(x => x._id === item)?.count || 0}} / {{stats.total.find(x => x._id === item)?.count || 0}}
        hr
        h5 Gifts
        div.row.justify-content-center
          div.col.col-md-3.col-lg-2(v-for="item of gifts")
            a(:href="'/ask/dt-rewards?item=' + item"): figure.mb-1
              img(:src="'/images/items/' + item + '.png'" style="width:5rem;height:auto;")
              figcaption {{item}}
            p {{stats.user.find(x => x._id === item)?.count || 0}} / {{stats.total.find(x => x._id === item)?.count || 0}}
        hr
        h5 Glow Sticks
        div.row.justify-content-center
          div.col.col-md-3.col-lg-2(v-for="item of glowsticks")
            a(:href="'/ask/dt-rewards?item=' + item"): figure.mb-1
              img(:src="'/images/items/' + item + '.png'" style="width:5rem;height:auto;")
              figcaption {{item}}
            p {{stats.user.find(x => x._id === item)?.count || 0}} / {{stats.total.find(x => x._id === item)?.count || 0}}
      style.
        #app figcaption {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin: 0;
        }
