 h6 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
	font-size: 0.9em
}

h6:before,
h6:after {
  content: '';
  border-top: 1px solid var(--secondary);
  margin: 0 18px 0 0;
  flex: 1 0 18px;
}

h6:after {
  margin: 0 0 0 20px;
}

.reward-button{
	border-radius: 1.5rem;
}

.reward-button:hover{
	background-color: rgba(219, 158, 251, 0.15);
}

.reward-button.active{
	background-color: rgba(219, 158, 251, 0.25);
}

.reward-button figcaption{
	color: #4e5761
}

.reward-button:hover figcaption,
.reward-button.active figcaption{
	color: #7767a6
}

.reward-button:focus {
  outline:none;
  box-shadow: none;
}