h6 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  color: var(--secondary);
}

h6:before,
h6:after {
  content: '';
  border-top: 1px solid var(--secondary);
  margin: 0 18px 0 0;
  flex: 1 0 18px;
}

h6:after {
  margin: 0 0 0 20px;
}

figcaption {
  margin-bottom: 0;
}

.battles_calculation, .ap_calculation {
  border-radius: 16px;
  background: #f2f0ff;
}

.battles_calculation p, .ap_calculation p {
  text-align: center;
  padding: .5rem 0;
  margin: 0;
  color: white;
  border-radius: 16px 16px 0 0;
  background: var(--primary);
}

.battles_calculation>div>div, .ap_calculation>div>div {
  display: flex;
  justify-content: space-between;
  color: var(--primary);
}

ul#rewards .active {
  background: #f2f0ff;
  border-radius: 16px;
}

ul#results .nav-link {
  opacity: .7;
}

ul#results .active {
  border-bottom: 3px solid var(--primary);
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width:992px) {
  .reward-container {
    height: 330px;
  }
}

.result-container {
  height: 120px;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}
