/* .card-header {
  padding-bottom: 0
} */
img {
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
img.lazy {
  opacity: 0;
}
.cardPreview, .cardPreview:hover {
  text-align: center;
  margin: .25rem;
  color: #717982;
  width: 100%;
}
.icon-container {
  max-width: 110px;
}
.icon-container>img {
  height: 110px;
}
.full-container {
  max-width: 180px;
}
.full-container>img {
  height: 243px;
}
.sticky-offset {
  top: 70px;
}
.notSelectedCard {
  padding: 8%;
  filter: opacity(50%);
}
@media screen and (max-width: 992px) {
  .icon-container {
    max-width: 100px;
  }
  .icon-container>img {
    height: 100px;
  }
  .full-container {
    max-width: 150px;
  }
  .full-container>img {
    height: 202px;
  }
}
@media screen and (max-width: 768px) {
  #actionButtons .btn-lg {
    font-size: 1rem !important;
    /*height: 20px !important;*/
  }
  #actionButtons .btn-primary, .btn-secondary {
    font-size:80%;
  }
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
/* #nameFilter {
  height: 30px;
  margin: 0px;
  background-color: #f0e1fc;
} */
#nameFilter, #expandFilters {
  height: 32px;
}
#nameFilter::placeholder {
  color: var(--secondary);
}
#nameFilter:focus {
  outline: none;
  box-shadow: none;
}
#gotoDemon:focus, #gotoMemory:focus {
  outline: none;
  box-shadow: none;
}
/* #filters .card-header {
  background-color: white;
  font-weight: bold;
  color: #8d6fe2;
} */

/*stat progress bars*/
.progress {
  position: relative !important;
}

#barUR, #barURp {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 20% 0% !important;
  background: -webkit-linear-gradient(to left, #ff59ff, #6370ff, #52fff5, #8aff43, #feb859) !important;
  background:    -moz-linear-gradient(to left, #ff59ff, #6370ff, #52fff5, #8aff43, #feb859) !important;
  background:      -o-linear-gradient(to left, #ff59ff, #6370ff, #52fff5, #8aff43, #feb859) !important;
  background:         linear-gradient(to left, #ff59ff, #6370ff, #52fff5, #8aff43, #feb859) !important;
}

#barCoverUR, #barCoverURp {
  height: 100%;
  background-color: rgb(233, 236, 239);
  margin-left:auto;
  margin-right:0;
}

#barAnimated {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left, #feb859, #ff59ff, #6370ff, #52fff5, #8aff43, #feb859, #ff59ff, #6370ff, #52fff5, #8aff43, #feb859, #ff59ff);
  background-size: 240% 100%;
  animation-fill-mode: both;
  -webkit-animation: gradient 3s linear infinite;
     -moz-animation: gradient 3s linear infinite;
       -o-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}
@-webkit-keyframes gradient {
    0% {background-position: 89%}
    100% {background-position: 11%}
}
@-moz-keyframes    gradient {
    0% {background-position: 89%}
    100% {background-position: 11%}
}
@-o-keyframes      gradient {
    0% {background-position: 89%}
    100% {background-position: 11%}
}
@keyframes         gradient {
    0% {background-position: 89%}
    100% {background-position: 11%}
}

#viewMenuDropdown {
  padding-top: 0;
  border-radius: 0;
}
@media screen and (min-width: 720px) {
  #viewMenuDropdown {
    border-bottom: 2px rgba(219, 158, 251, .75) solid;
  }
}
#viewMenuDropdown:focus {
  outline: none;
  box-shadow: none;
}

#filters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#filters li {
  float: left;
}

#rarityForm li {
  width: 4rem;
}

#attributeForm li {
  width: 6rem;
}

#characterForm li {
  width: 8rem;
}

#cardsfilter li {
  margin-right: 2rem;
}
