.img-max {
  max-width: 128px;
  width:100%;
  transition: all .5s ease;
}
.sticky-offset {
    top: 70px;
}
.collapser:after {
  font-family: 'Linearicons-Free';
  content: '\e873';
  position: absolute;
  margin-left: 10px;
}
.collapser[aria-expanded="false"]:after {
  font-family: 'Linearicons-Free';
  content: '\e874';
  position: absolute;
  margin-left: 10px;
}
.notSelectedCard {
  width: 80% !important;
  filter: opacity(50%);
}