#star {
	transition: transform .5s ease;
	-webkit-transition: transform .5s ease;
	overflow: visible;
}

#star:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#cardToggle img {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.card-container {
	display: flex;
	justify-content: center;
	border-radius: 8px;
	margin-bottom: .5rem;
}

@media (min-width: 768px) {
	.card-container {
		border-radius: 4px;
		background:rgba(255, 255, 255, .8);
		padding: 1.5rem;
	}
	.card-container>div {
		text-align: center;
	}
	.card-container img {
		width: 60%;
		height: auto;
		box-shadow: none !important;
	}
	#memory {
		width: 50%;
	}
}
