#star {
	transition: transform .5s ease;
	-webkit-transition: transform .5s ease;
	overflow: visible;
}

#star:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#cardToggle img {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
