.upload {
  opacity: 0;
}

.uploadLabel {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed #8d6fe2;
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image';
  color: #4e5761;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.imageAreaS img {
  max-width: 110px;
}

select{
  scrollbar-width: none; /*For Firefox*/;
  -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
}

select:-webkit-scrollbar { /*For WebKit Browsers*/
  width: 0;
  height: 0;
}

.image-area button {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 3;
  height: 25px;
  width: 25px;
}

.form-inline .form-control, .form-inline button {
  margin-right: .5rem;
  margin-bottom: .5rem;
}
