.mcard-container {
  max-width: 180px;
	margin: .5rem 1.25rem;
}

.mcard-container img {
  height: 243px;
}

.dcard-container {
  max-width: 380px;
	margin: .5rem 1.25rem;
	text-align: center;
}

.dcard-container img {
  height: 243px;
}

p.card-section-title {
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--primary);
	margin-bottom: 1rem;
	letter-spacing: .08em;
}

@media screen and (min-width: 720px) {
  #edit {
    text-align: right !important;
    position: absolute;
    padding-right: .75rem;
    z-index: 1;
  }
}
