@media screen and (min-width: 720px) {
  #edit {
    text-align: right !important;
    position: absolute;
    padding-right: .75rem;
    z-index: 1;
  }
}

.card-body img {
  pointer-events: none;
}
