#display .card-body {
  height: 256px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#display ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#display li {
  display: inline;
}

#display ul img {
  width: 82px;
  margin: .25rem;
}

li.placeholder {
  width: 90px;
  height: 90px;
}

.view_all {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 45px 0 20px;
  background-image: linear-gradient(to bottom, transparent, white 80%, white);
}

#profile div {
  margin-bottom: .5rem;
}

#profile div span:first-child {
  /* color: #714ED2; */
  font-size: small;
  /* letter-spacing: 1.25px; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  margin-right: .5em;

  /* TEMP:  */
  color: white;
  padding: .175rem 1rem;
  background: linear-gradient(to right, rgb(184,121,252), rgb(223,130,246));
  border-radius: 16px;

}

#profile div.col-md-6 {
  display: flex;
  margin-bottom: .5rem;
}

/* {
  border: 2px solid var(--secondary);
  border-radius: 8px;
  left: 1rem;
  position: relative;
  padding: 0 2px;
  width: 46%;
} */

#profile div.col-md-6 span:last-child {
  /* width: 100%; */
  border-bottom: 2px dotted;
  /* margin-bottom: .5rem; */
  /* display: inline-block; */
  flex-grow: 1;
  text-align: center;
}

hr.style-eight {
  overflow: visible; /* For IE */
  border-color: #ffd700;
  color: #ffd700;
  text-align: center;
  margin: 2rem 0;
}

hr.style-eight::after {
  content: "◆";
  position: relative;
  top: -.9em;
  font-size: 1.5em;
  padding: 0 .5em;
  background: white;
}
