#leaderboard {
  width: 75%;
}

.drop-shadow {
  filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .09))
}

.card-preview {
  height: 130%;
  overflow: hidden;
  border-radius: 0.5em
}

@media screen and (max-width: 768px) {
  .card-preview {
    height: 80%;
  }
}

.entry {
  background: linear-gradient(120deg, #ff97bd 0%, #7d5fe6cf 100%);
  border-radius:0.75em;
  height:4.75em;
  width: 100%;
  transition: all .5s ease-out;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.entry:hover, .entry:visited, .entry:link, .entry:active
{
    text-decoration: none;
}

.entry:hover
{
    width: 110%;
    height: 5em;
    margin-left: -5%;
    margin-bottom: 1.25em;
}

.entry .lead {
  filter: drop-shadow( 2px 3px 3px rgba(0, 0, 0, .2));
  width: 1.5rem
}

.entry:nth-child(1) {
  background: linear-gradient(120deg, #fff25f 0%, #ff813d 100%)
}

.entry:nth-child(2) {
  background: linear-gradient(120deg, #ffd67b 0%, #ee7861 100%)
}

.entry:nth-child(3) {
  background: linear-gradient(120deg, #feb7a9 0%, #c367da 100%)
}

.top {
  width: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}