/* Custom Bootstrap */

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito-Regular.ttf");
}

:root {
  --lucifer: #64b5f6;
  --mammon: #fbc02d;
  --leviathan: #ff8a65;
  --satan: #aed581;
  --asmodeus: #f06292;
  --beelzebub: #ef5350;
  --belphegor: #9575cd;
  --diavolo: #e53935;
  --barbatos: #26a69a;
  --luke: #fbc02d;
  --simeon: #26c6da;
  --solomon: #bdbdbd;
}

body {
  padding-top: 70px;
  background: url("/images/background_sheep.webp") fixed;
}

h1 {
  color: var(--primary);
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary);
}

figcaption, .figure-caption {
  font-size: 90%;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

footer a {
  color: var(--light) !important;
}
footer a:hover {
  opacity: .5;
}
footer a.h5:hover {
  opacity: 1;
  text-decoration: none;
}
footer ul {
  list-style: none;
  padding-left: 0;
}

.alert {
  z-index: 9999 !important;
}

.btn-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: var(--light) !important;
}

.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background-color: var(--body-bg);
}

.modal {
  padding-top: 4rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--light-text);
  background: var(--body-bg);
  border-bottom-color: var(--body-bg);
}

/* Navbar and nav dropdowns */

.navbar, footer {
  background: linear-gradient(90deg, rgba(141, 111, 226, 1) 0%, rgba(219, 158, 251, 1) 100%);
}

.logo {
  font-family: Nunito;
  color: white;
}
.logo-bg {
  /*height:32px;*/
  transition: 300ms;
}
.logo-bg:hover {
  scale: 110%;
}

.dropdown-item:active {
  color: #16181b;
  background-color: #f8f9fa;
}
@media screen and (max-width: 960px) {
  .nav-item.dropdown>.dropdown-menu {
    border-radius: 0;
    border-left: 2px solid rgba(255,255,255,.75);
    box-shadow: none !important;
    background-color: transparent;
  }
  .nav-item.dropdown .dropdown-item,.dropdown-item:active {
    color: var(--light);
    background-color: transparent;
  }
}

.overline {
  color: var(--light);
  font-size: 10px;
  letter-spacing: 1.5px;
  padding-left: .5rem;
  margin-top: .75rem;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .overline {
    color: #6c757d;
  }

  .navbar-nav.ml-auto>li>a {
    color: var(--light) !important;
  }
}

/* Misc */

.collapser>.chevron {
  transition: all 300ms;
}
.collapser[aria-expanded="false"] .chevron {
  transform: scaleY(-1);
}

[type="button"], .btn {
  -webkit-appearance: none;
}

#cookieToast {
  position: fixed;
  bottom: 32px;
  left: 18px;
  z-index: 1030;
  transition: 0.3s;
}
#cookieToast button {
  border-radius: 4px;
}

#b2t {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: 32px;
  right: 18px;
  border-radius: 50%;
  background-color: white;
  width: 64px;
  height: 64px;
  z-index: 1030;
}

p.section-title {
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--primary);
	margin-bottom: 1rem;
	letter-spacing: .08em;
}

.big-fb {
  min-height: 270px !important;
  height: 100% !important;
}

svg.bi {
  margin-bottom: .25rem;
}

.bootstrap-select > .dropdown-menu {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Dark theme */

#dark,
.dark-theme #light {
  display: none;
}

#light,
.dark-theme #dark {
  display: block;
}

.dark-theme {
  background: var(--body-bg);
  color: var(--light-text);
}

.dark-theme .navbar,
.dark-theme footer,
.dark-theme .banner {
  background: rgb(89, 49, 159);
}

@media (min-width: 960px) {
  .dark-theme .card,
  .dark-theme .dropdown-menu {
    border: 1px solid var(--border-color);
  }
}

.dark-theme .card table {
  color: var(--light-text);
}

.dark-theme hr {
  opacity: .5;
  border-color: var(--light-text);
}

.dark-theme .dropdown-menu {
  background: var(--body-bg);
}
.dark-theme .dropdown-item {
  color: var(--light-text);
}
.dark-theme .dropdown-item:hover,
.dark-theme .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
