extends ../layout

block content
  div.container
    h1= title
    div.row
      div.col-12.col-md-6.mb-3.mb-md-0
        div.card.card-body
          h5 Bonus calculator
      div.col-12.col-md-6
        div.card.card-body
          h5 Reverse bonus calculator
