//- not sure if this is the best way. but, it'll do for now
-
  const list = {
    "sharekarasu": {
      title: "Shared Karasu-OS",
      description: "Shared karasu-os.com on social media.<br><br>(This is a limited-time badge that is no longer obtainable.)"
    },
    "adfree": {
      title: "Supporter Badge",
      description: "Proud supporter of Karasu-OS.com! Unlock by making a donation to keep Karasu alive."
    },
    "trustedContributor": {
      title: "Trusted Contributor",
      description: "Passed Karasu's secret tests! Users with this badge can edit pages without waiting for Karasu's approval."
    }
  }
