-
  const ITEMS = [
    "Gem (Pride)",
    "Gem (Greed)",
    "Gem (Envy)",
    "Gem (Wrath)",
    "Gem (Lust)",
    "Gem (Gluttony)",
    "Gem (Sloth)",
    "Watch (Pride)",
    "Watch (Greed)",
    "Watch (Envy)",
    "Watch (Wrath)",
    "Watch (Lust)",
    "Watch (Gluttony)",
    "Watch (Sloth)",
    "Mug (Pride)",
    "Mug (Greed)",
    "Mug (Envy)",
    "Mug (Wrath)",
    "Mug (Lust)",
    "Mug (Gluttony)",
    "Mug (Sloth)",
    "Sports Drink (Pride)",
    "Sports Drink (Greed)",
    "Sports Drink (Envy)",
    "Sports Drink (Wrath)",
    "Sports Drink (Lust)",
    "Sports Drink (Gluttony)",
    "Sports Drink (Sloth)",
    "Sunglasses (Pride)",
    "Sunglasses (Greed)",
    "Sunglasses (Envy)",
    "Sunglasses (Wrath)",
    "Sunglasses (Lust)",
    "Sunglasses (Gluttony)",
    "Sunglasses (Sloth)",
    "Skull (Pride)",
    "Skull (Greed)",
    "Skull (Envy)",
    "Skull (Wrath)",
    "Skull (Lust)",
    "Skull (Gluttony)",
    "Skull (Sloth)",
    "Handkerchief (Pride)",
    "Handkerchief (Greed)",
    "Handkerchief (Envy)",
    "Handkerchief (Wrath)",
    "Handkerchief (Lust)",
    "Handkerchief (Gluttony)",
    "Handkerchief (Sloth)",
    "Smartphone (Pride)",
    "Smartphone (Greed)",
    "Smartphone (Envy)",
    "Smartphone (Wrath)",
    "Smartphone (Lust)",
    "Smartphone (Gluttony)",
    "Smartphone (Sloth)",
    "Witchpot (Pride)",
    "Witchpot (Greed)",
    "Witchpot (Envy)",
    "Witchpot (Wrath)",
    "Witchpot (Lust)",
    "Witchpot (Gluttony)",
    "Witchpot (Sloth)",
    "Scissors (Pride)",
    "Scissors (Greed)",
    "Scissors (Envy)",
    "Scissors (Wrath)",
    "Scissors (Lust)",
    "Scissors (Gluttony)",
    "Scissors (Sloth)",
    "Notebook (Pride)",
    "Notebook (Greed)",
    "Notebook (Envy)",
    "Notebook (Wrath)",
    "Notebook (Lust)",
    "Notebook (Gluttony)",
    "Notebook (Sloth)",
    "Dumbbell (Pride)",
    "Dumbbell (Greed)",
    "Dumbbell (Envy)",
    "Dumbbell (Wrath)",
    "Dumbbell (Lust)",
    "Dumbbell (Gluttony)",
    "Dumbbell (Sloth)",
    "Alarm Clock (Pride)",
    "Alarm Clock (Greed)",
    "Alarm Clock (Envy)",
    "Alarm Clock (Wrath)",
    "Alarm Clock (Lust)",
    "Alarm Clock (Gluttony)",
    "Alarm Clock (Sloth)",
    "Megaphone (Pride)",
    "Megaphone (Greed)",
    "Megaphone (Envy)",
    "Megaphone (Wrath)",
    "Megaphone (Lust)",
    "Megaphone (Gluttony)",
    "Megaphone (Sloth)",
    "Lipstick (Pride)",
    "Lipstick (Greed)",
    "Lipstick (Envy)",
    "Lipstick (Wrath)",
    "Lipstick (Lust)",
    "Lipstick (Gluttony)",
    "Lipstick (Sloth)",
    "Headphones (Pride)",
    "Headphones (Greed)",
    "Headphones (Envy)",
    "Headphones (Wrath)",
    "Headphones (Lust)",
    "Headphones (Gluttony)",
    "Headphones (Sloth)",
    "Game Controller (Pride)",
    "Game Controller (Greed)",
    "Game Controller (Envy)",
    "Game Controller (Wrath)",
    "Game Controller (Lust)",
    "Game Controller (Gluttony)",
    "Game Controller (Sloth)",
    "Top Hat (Pride)",
    "Top Hat (Greed)",
    "Top Hat (Envy)",
    "Top Hat (Wrath)",
    "Top Hat (Lust)",
    "Top Hat (Gluttony)",
    "Top Hat (Sloth)",
    "Teddy Bear (Pride)",
    "Teddy Bear (Greed)",
    "Teddy Bear (Envy)",
    "Teddy Bear (Wrath)",
    "Teddy Bear (Lust)",
    "Teddy Bear (Gluttony)",
    "Teddy Bear (Sloth)",
    "Rubber Duck (Pride)",
    "Rubber Duck (Greed)",
    "Rubber Duck (Envy)",
    "Rubber Duck (Wrath)",
    "Rubber Duck (Lust)",
    "Rubber Duck (Gluttony)",
    "Rubber Duck (Sloth)",
    "Masquerade Mask (Pride)",
    "Masquerade Mask (Greed)",
    "Masquerade Mask (Envy)",
    "Masquerade Mask (Wrath)",
    "Masquerade Mask (Lust)",
    "Masquerade Mask (Gluttony)",
    "Masquerade Mask (Sloth)"
  ];
