-
  let itemList = [
    "AP",
    "Backstabbing Sandwich",
    "Bandage",
    "Barbatos's Signature Cake",
    "Barbatos's Tea",
    "Black Coffee of Melancholy",
    "Book",
    "Comfort Candy",
    "Demon Voucher",
    "Devil Point",
    "Family Pack Sushi",
    "First Aid Kit",
    "Flower",
    "Game",
    "Glow Stick (Blue)",
    "Glow Stick (Green)",
    "Glow Stick (Orange)",
    "Glow Stick (Pink)",
    "Glow Stick (Purple)",
    "Glow Stick (Rainbow)",
    "Glow Stick (Red)",
    "Glow Stick (Yellow)",
    "Grimm",
    "Human World Cheeseburger",
    "Hydrangeas",
    "Instant Noodles (Hell-Sauce Flavor)",
    "Madam Scream's Macarons",
    "Manga",
    "Medicine",
    "Memory Voucher",
    "Message Card",
    "Movie Ticket",
    "Paradise Blue",
    "Perfume",
    "Pocket Tissue",
    "Poison",
    "Princess's Poison Apple",
    "Raven",
    "RedxRed Apple Pie",
    "SSR or Higher Demon Voucher",
    "Spicy Rainbow Pizza",
    "UR Demon Voucher",
    "UR+ Demon Voucher",
    "Unidentified Matter",
    "Whip of Love",
    "Wicked Cupcake"
  ];
